{% include 'ipynb_styles.html' %}
<div class="vizseq-output">

<div class="container-fluid">
    <div class="row">
        <table class="table table-hover table-bordered">
            <thead class="thead-light">
            <tr>
                <th scope="col"></th>
                <th scope="col">Type</th>
                <th scope="col">Examples</th>
                <th scope="col">Tokens / Frames</th>
                <th scope="col">Chars / Duration (ms)</th>
            </tr>
            </thead>
            <tbody id="statsTable">
            {% for _, src_name, src_type in enum_src_names_and_types %}
            <tr>
                <th scope="row">Source {{ src_name }}</th>
                <td>{{ src_type }}</td>
                <td>{{ stats['n_examples'] }}</td>
                <td>{{ stats['n_src_tokens'][src_name] }}</td>
                <td>{{ stats['n_src_chars'][src_name] }}</td>
            </tr>
            {% endfor %}
            {% for _, ref_name in enum_ref_names %}
            <tr>
                <th scope="row">Reference {{ ref_name }}</th>
                <td> Text </td>
                <td>{{ stats['n_examples'] }}</td>
                <td>{{ stats['n_ref_tokens'][ref_name] }}</td>
                <td>{{ stats['n_ref_chars'][ref_name] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</div>
