{% include 'ipynb_styles.html' %}
<div class="vizseq-output">

{{ span_highlight_js }}

{% for i in range(cur_idx|length) %}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <b># {{ i + 1 }} / {{ n_cur_samples }} / {{ n_samples }} ( {{ cur_idx[i] + 1 }} / {{ total_examples }} )</b>
            </div>
            <div class="col" align="right">
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover table-sm table-borderless">
            <tbody>
            {% for j, src_name, src_type in enum_src_names_and_types %}
            {% set cur_src = src[j][i] %}
            <tr style="background-color:#FDF2E9" id="srcRow{{ j }}{{ i }}">
                <th scope="row" class="text-left" width="20%">Source {{ src_name }}</th>
                {% if src_type == 'text' %}
                <td class="text-left">{{ cur_src }}</td>
                {% elif src_type == 'image' %}
                <td><img src="{{ cur_src }}"></td>
                {% elif src_type == 'audio' %}
                <td>
                    <audio controls src="{{ cur_src }}" id="audio_{{ i }}_{{ j }}"></audio>
                </td>
                {% elif src_type == 'video' %}
                <td>
                    <video height="240" controls src="{{ cur_src }}" id="video_{{ i }}_{{ j }}"></video>
                </td>
                {% endif %}
            </tr>
            {% endfor %}

            <tr style="background-color:#EAF2F8">
            {% if google_translation|length > 0 %}
                <th class="text-nowrap text-left" scope="row">Google Translate</th>
                <td class="text-left">{{ google_translation[i] }}</td>
            {% endif %}
            </tr>

            {% for j, ref_name in enum_ref_names %}
            {% set cur_ref = ref[j][i] %}
            {% if cur_ref|length > 0 %}
            <tr style="background-color:#FEF9E7">
                <th scope="row" class="text-left">Reference {{ ref_name }}</th>
                <td class="text-left">{{ cur_ref }}</td>
            </tr>
            {% endif %}
            {% endfor %}

            {% for _, m in enum_models %}
            <tr>
                <th scope="row" class="text-left">{{ m }}</th>
                <td class="text-left">{{ hypo[m][i] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if enum_metrics|length > 0 %}
        <table class="table table-hover table-sm table-bordered">
            <thead class="thead-light">
            <tr>
                <th scope="col">Model</th>{% for _, s in enum_metrics %}<th scope="col">{{ s }}</th>{% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for _, m in enum_models %}
            <tr>
                <td>{{ m }}</td>{% for _, s in enum_metrics %}<td>{{ sent_scores[i][s][m] }}</td>{% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
<br>
{% endfor %}

</div>
