{% include 'ipynb_styles.html' %}
<div class="vizseq-output">


<div class="container">
    <div class="row">
        {% for cur_n in n %}
        <div class="col">
            <table class="table table-hover table-sm table-bordered text-center">
                <thead class="thead-light">
                <tr><th scope="col">{{ cur_n }}-gram</th><th scope="col">Count</th></tr>
                </thead>
                <tbody>
                {% for n_gram, freq in n_grams[cur_n] %}
                <tr><td>{{ n_gram }}</td><td>{{ freq }}</td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
</div>


</div>
